<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<!-- Bootstrap CSS -->
	<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

	<title>About</title>
</head>
<body>

<div class=" container m-5 text-center">
	<h1>About</h1>
	<p class="m-5">PurpleCat PC store is a company that manufactures, sells,
		and services custom computers. We offer a wide range of customization options,
		including processor, memory, graphics card, and storage.
		We also offer technical support, maintenance and repair,
		and installation services. we specialize in creating custom computers and accessories,
		so that our customers can create a system that meets their needs and budget.
	</p>
	<a class="btn btn-primary  btn-sm m-3" th:href="@{/mainscreen}">
		Back to Main Screen</a>
</div>

</body>
</html>